# Práctica Bases de Datos

## Parte I: SQL Scape Room 
Por parejas, resuelve el misterio del asesinato en http://mystery.knightlab.com/

## Parte II: Modelo Relacional

La empresa de venta de coches **KARLS** quiere crear un modelo de bases de datos. Para ello, nos ha compartido el fichero `ventas.csv`, que contiene sus ventas más recientes, con los siguientes campos:

*	no_orden: número de la orden
*	codigo_producto: código del producto comprado
*	cantidad_orden: cantidad comprada
*	precio_cada: precio de venta por unidad 
*	nombre_producto: nombre del producto
*	linea_productos: línea de productos
*	descr: descripción de la línea de productos
*	precio_compra: precio de compra de cada producto al proveedor
*	fecha_orden: fecha de la compra
*	no_cliente: número del cliente
*	nombre_cliente: nombre del cliente
*	tlf: teléfono del cliente
*	direccion: dirección del cliente
*	ciudad: ciudad del cliente
*	estado: estado o provincia del cliente
*	codigo_postal: código postal del cliente
*	pais: país del cliente

Por otro lado, KARLS quiere conocer el idioma de cada cliente para poder realizar campañas de marketing personalizadas en diversos idiomas. Para conocer el idioma oficial de cada país, disponemos del acceso a una base de datos con los siguientes parámetros:

*	Servidor: relational.fit.cvut.cz
*	Usuario: guest
*	Contraseña: relational
*	Nombre de la base de datos: world

![imagen](https://relational.fit.cvut.cz/assets/img/datasets-generated/world.svg)

In [1]:
import sqlite3
import pymysql
import pandas as pd

In [2]:
# Mostramos los datos del .csv en pandas
datos = pd.read_csv('ventas.csv')
datos

,no_orden,codigo_producto,cantidad_orden,precio_cada,nombre_producto,linea_productos,descr,precio_compra,fecha_orden,no_cliente,nombre_cliente,tlf,direccion,ciudad,estado,codigo_postal,pais
0,10100,S18_1749,30,136.00,1917 Grand Touring Sedan,Vintage Cars,Our Vintage Car models realistically portray a...,86.70,2003-01-06,363,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,NH,62005,USA
1,10100,S18_2248,50,55.09,1911 Ford Town Car,Vintage Cars,Our Vintage Car models realistically portray a...,33.30,2003-01-06,363,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,NH,62005,USA
2,10100,S18_4409,22,75.46,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,Our Vintage Car models realistically portray a...,43.26,2003-01-06,363,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,NH,62005,USA
3,10100,S24_3969,49,35.29,1936 Mercedes Benz 500k Roadster,Vintage Cars,Our Vintage Car models realistically portray a...,21.75,2003-01-06,363,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,NH,62005,USA
4,10101,S18_2325,25,108.06,1932 Model A Ford J-Coupe,Vintage Cars,Our Vintage Car models realistically portray a...,58.48,2003-01-09,128,"Blauer See Auto, Co.",+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,NaN,60528,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,10425,S24_2300,49,127.79,1962 Volkswagen Microbus,Trucks and Buses,The Truck and Bus models are realistic replica...,61.34,2005-05-31,119,La Rochelle Gifts,40.67.8555,"67, rue des Cinquante Otages",Nantes,NaN,44000,France
2992,10425,S24_2840,31,31.82,1958 Chevy Corvette Limited Edition,Classic Cars,Attention car enthusiasts: Make your wildest c...,15.91,2005-05-31,119,La Rochelle Gifts,40.67.8555,"67, rue des Cinquante Otages",Nantes,NaN,44000,France
2993,10425,S32_1268,41,83.79,1980’s GM Manhattan Express,Trucks and Buses,The Truck and Bus models are realistic replica...,53.93,2005-05-31,119,La Rochelle Gifts,40.67.8555,"67, rue des Cinquante Otages",Nantes,NaN,44000,France
2994,10425,S32_2509,11,50.32,1954 Greyhound Scenicruiser,Trucks and Buses,The Truck and Bus models are realistic replica...,25.98,2005-05-31,119,La Rochelle Gifts,40.67.8555,"67, rue des Cinquante Otages",Nantes,NaN,44000,France
2995,10425,S50_1392,18,94.92,Diamond T620 Semi-Skirted Tanker,Trucks and Buses,The Truck and Bus models are realistic replica...,68.29,2005-05-31,119,La Rochelle Gifts,40.67.8555,"67, rue des Cinquante Otages",Nantes,NaN,44000,France

Hay que pensar en las tablas de DIMENSIÓN y HECHOS

In [3]:
# Dimensión CLIENTE
cols = ['no_cliente', 'nombre_cliente', 'tlf', 'direccion', 'ciudad', 'estado', 'codigo_postal','pais']
cliente = datos[cols].drop_duplicates()
cliente

,no_cliente,nombre_cliente,tlf,direccion,ciudad,estado,codigo_postal,pais
0,363,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,NH,62005,USA
4,128,"Blauer See Auto, Co.",+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,NaN,60528,Germany
8,181,Vitachrome Inc.,2125551500,2678 Kingston Rd.,NYC,NY,10022,USA
10,121,Baane Mini Imports,07-98 9555,Erling Skakkes gate 78,Stavern,NaN,4110,Norway
26,141,Euro+ Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain
...,...,...,...,...,...,...,...,...
1619,204,Online Mini Collectables,6175557555,7635 Spinnaker Dr.,Brickhaven,MA,58339,USA
1650,249,Amica Models & Co.,011-4988555,Via Monte Bianco 34,Torino,NaN,10100,Italy
1708,299,"NorwayGifts By Mail, Co.",+47 2212 1555,Drammensveien 126A,Oslo,NaN,N 0106,Norway
1721,286,Marta's Replicas Co.,6175558555,39323 Spinnaker Dr.,Cambridge,MA,51247,USA
1813,415,"Bavarian Collectables Imports, Co.",+49 89 61 08 9555,Hansastr. 15,Munich,NaN,80686,Germany

In [4]:
# Dimensión PRODUCTOS
cols = ['codigo_producto', 'nombre_producto','linea_productos','descr','precio_compra']
producto = datos[cols].drop_duplicates()
producto

,codigo_producto,nombre_producto,linea_productos,descr,precio_compra
0,S18_1749,1917 Grand Touring Sedan,Vintage Cars,Our Vintage Car models realistically portray a...,86.70
1,S18_2248,1911 Ford Town Car,Vintage Cars,Our Vintage Car models realistically portray a...,33.30
2,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,Our Vintage Car models realistically portray a...,43.26
3,S24_3969,1936 Mercedes Benz 500k Roadster,Vintage Cars,Our Vintage Car models realistically portray a...,21.75
4,S18_2325,1932 Model A Ford J-Coupe,Vintage Cars,Our Vintage Car models realistically portray a...,58.48
...,...,...,...,...,...
110,S24_1628,1966 Shelby Cobra 427 S/C,Classic Cars,Attention car enthusiasts: Make your wildest c...,29.18
113,S24_2766,1949 Jaguar XK 120,Classic Cars,Attention car enthusiasts: Make your wildest c...,47.25
114,S24_2887,1952 Citroen-15CV,Classic Cars,Attention car enthusiasts: Make your wildest c...,72.82
115,S24_3191,1969 Chevrolet Camaro Z28,Classic Cars,Attention car enthusiasts: Make your wildest c...,50.51
116,S24_3432,2002 Chevy Corvette,Classic Cars,Attention car enthusiasts: Make your wildest c...,62.11

In [5]:
# TABLA DE HECHOS: COMPRAS
cols = ['no_orden', 'codigo_producto', 'cantidad_orden', 'precio_cada', 'fecha_orden','no_cliente']
compras = datos[cols].drop_duplicates()
compras

,no_orden,codigo_producto,cantidad_orden,precio_cada,fecha_orden,no_cliente
0,10100,S18_1749,30,136.00,2003-01-06,363
1,10100,S18_2248,50,55.09,2003-01-06,363
2,10100,S18_4409,22,75.46,2003-01-06,363
3,10100,S24_3969,49,35.29,2003-01-06,363
4,10101,S18_2325,25,108.06,2003-01-09,128
...,...,...,...,...,...,...
2991,10425,S24_2300,49,127.79,2005-05-31,119
2992,10425,S24_2840,31,31.82,2005-05-31,119
2993,10425,S32_1268,41,83.79,2005-05-31,119
2994,10425,S32_2509,11,50.32,2005-05-31,119
2995,10425,S50_1392,18,94.92,2005-05-31,119

Creamos una base de datos inicialmente vacía

In [6]:
conn = sqlite3.connect('karls.sqlite')

Guardamos nuestras tablas en la base de datos

In [7]:
cliente.to_sql('cliente', conn, index=False, if_exists='replace')

In [8]:
pd.read_sql('SELECT * FROM cliente', conn)

,no_cliente,nombre_cliente,tlf,direccion,ciudad,estado,codigo_postal,pais
0,363,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,NH,62005,USA
1,128,"Blauer See Auto, Co.",+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,None,60528,Germany
2,181,Vitachrome Inc.,2125551500,2678 Kingston Rd.,NYC,NY,10022,USA
3,121,Baane Mini Imports,07-98 9555,Erling Skakkes gate 78,Stavern,None,4110,Norway
4,141,Euro+ Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,None,28034,Spain
...,...,...,...,...,...,...,...,...
93,204,Online Mini Collectables,6175557555,7635 Spinnaker Dr.,Brickhaven,MA,58339,USA
94,249,Amica Models & Co.,011-4988555,Via Monte Bianco 34,Torino,None,10100,Italy
95,299,"NorwayGifts By Mail, Co.",+47 2212 1555,Drammensveien 126A,Oslo,None,N 0106,Norway
96,286,Marta's Replicas Co.,6175558555,39323 Spinnaker Dr.,Cambridge,MA,51247,USA
97,415,"Bavarian Collectables Imports, Co.",+49 89 61 08 9555,Hansastr. 15,Munich,None,80686,Germany

In [9]:
producto.to_sql('producto', conn, index=False, if_exists='replace')

In [10]:
compras.to_sql('compras', conn, index=False, if_exists='replace')

Nos conectamos a la base de datos world y añadimos la tabla que relacione cada cliente con su idioma

In [11]:
database_host = 'relational.fit.cvut.cz'
username = 'guest'
password = 'relational'
database_name = 'world'

db = pymysql.connect(database_host,username,password,database_name)

In [12]:
pd.read_sql('SHOW TABLES',db)

   Tables_in_world
0             City
1          Country
2  CountryLanguage

In [13]:
pd.read_sql('SELECT * FROM CountryLanguage', db)

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]

In [17]:
# Query para saber el idioma más hablado de cada país 
pd.set_option('display.max_rows',1000)
query = '''
SELECT Name, Language, IsOfficial, Percentage

FROM CountryLanguage
JOIN Country
ON CountryLanguage.CountryCode = Country.Code

WHERE Percentage = (SELECT MAX(Percentage) 
                        FROM CountryLanguage
                        WHERE Country.Code = CountryLanguage.CountryCode
                    )
'''

idiomas = pd.read_sql(query, db)
idiomas

,Name,Language,IsOfficial,Percentage
0,Aruba,Papiamento,F,76.7
1,Afghanistan,Pashto,T,52.4
2,Angola,Ovimbundu,F,37.2
3,Anguilla,English,T,0.0
4,Albania,Albaniana,T,97.9
5,Andorra,Spanish,F,44.6
6,Netherlands Antilles,Papiamento,T,86.2
7,United Arab Emirates,Arabic,T,42.0
8,Argentina,Spanish,T,96.8
9,Armenia,Armenian,T,93.4
10,American Samoa,Samoan,T,90.6
11,Antigua and Barbuda,Creole English,F,95.7
12,Australia,English,T,81.2
13,Austria,German,T,92.0
14,Azerbaijan,Azerbaijani,T,89.0
15,Burundi,Kirundi,T,98.1
16,Belgium,Dutch,T,59.2
17,Benin,Fon,F,39.8
18,Burkina Faso,Mossi,F,50.2
19,Bangladesh,Bengali,T,97.7
20,Bulgaria,Bulgariana,T,83.2
21,Bahrain,Arabic,T,67.7
22,Bahamas,Creole English,F,89.7
23,Bosnia and Herzegovina,Serbo-Croatian,T,99.2
24,Belarus,Belorussian,T,65.6
25,Belize,English,T,50.8
26,Bermuda,English,T,100.0
27,Bolivia,Spanish,T,87.7
28,Brazil,Portuguese,T,97.5
29,Barbados,Bajan,F,95.1
30,Brunei,Malay,T,45.5
31,Bhutan,Dzongkha,T,50.0
32,Botswana,Tswana,F,75.5
33,Central African Republic,Gbaya,F,23.8
34,Canada,English,T,60.4
35,Cocos (Keeling) Islands,English,T,0.0
36,Cocos (Keeling) Islands,Malay,F,0.0
37,Switzerland,German,T,63.6
38,Chile,Spanish,T,89.7
39,China,Chinese,T,92.0
40,Côte d’Ivoire,Akan,F,30.0
41,Cameroon,Fang,F,19.7
42,"Congo, The Democratic Republic of the",Luba,F,18.0
43,Congo,Kongo,F,51.5
44,Cook Islands,English,F,0.0
45,Cook Islands,Maori,T,0.0
46,Colombia,Spanish,T,99.0
47,Comoros,Comorian,T,75.0
48,Cape Verde,Crioulo,F,100.0
49,Costa Rica,Spanish,T,97.5
50,Cuba,Spanish,T,100.0
51,Christmas Island,Chinese,F,0.0
52,Christmas Island,English,T,0.0
53,Cayman Islands,English,T,0.0
54,Cyprus,Greek,T,74.1
55,Czech Republic,Czech,T,81.2
56,Germany,German,T,91.3
57,Djibouti,Somali,F,43.9
58,Dominica,Creole English,F,100.0
59,Denmark,Danish,T,93.5
60,Dominican Republic,Spanish,T,98.0
61,Algeria,Arabic,T,86.0
62,Ecuador,Spanish,T,93.0
63,Egypt,Arabic,T,98.8
64,Eritrea,Tigrinja,T,49.1
65,Western Sahara,Arabic,T,100.0
66,Spain,Spanish,T,74.4
67,Estonia,Estonian,T,65.3
68,Ethiopia,Oromo,F,31.0
69,Finland,Finnish,T,92.7
70,Fiji Islands,Fijian,T,50.8
71,Falkland Islands,English,T,0.0
72,France,French,T,93.6
73,Faroe Islands,Faroese,T,100.0
74,"Micronesia, Federated States of",Trukese,F,41.6
75,Gabon,Fang,F,35.8
76,United Kingdom,English,T,97.3
77,Georgia,Georgiana,T,71.7
78,Ghana,Akan,F,52.4
79,Gibraltar,English,T,88.9
80,Guinea,Ful,F,38.6
81,Guadeloupe,Creole French,F,95.0
82,Gambia,Malinke,F,34.1
83,Guinea-Bissau,Crioulo,F,36.4
84,Equatorial Guinea,Fang,F,84.8
85,Greece,Greek,T,98.5
86,Grenada,Creole English,F,100.0
87,Greenland,Greenlandic,T,87.5
88,Guatemala,Spanish,T,64.7
89,French Guiana,Creole French,F,94.3
90,Guam,English,T,37.5
91,Guyana,Creole English,F,96.4
92,Hong Kong,Canton Chinese,F,88.7
93,Honduras,Spanish,T,97.2
94,Croatia,Serbo-Croatian,T,95.9
95,Haiti,Haiti Creole,F,100.0
96,Hungary,Hungarian,T,98.5
97,Indonesia,Javanese,F,39.4
98,India,Hindi,T,39.9
99,Ireland,English,T,98.4
100,Iran,Persian,T,45.7
101,Iraq,Arabic,T,77.2
102,Iceland,Icelandic,T,95.7
103,Israel,Hebrew,T,63.1
104,Italy,Italian,T,94.1
105,Jamaica,Creole English,F,94.2
106,Jordan,Arabic,T,97.9
107,Japan,Japanese,T,99.1
108,Kazakstan,Kazakh,T,46.0
109,Kenya,Kikuyu,F,20.9
110,Kyrgyzstan,Kirgiz,T,59.7
111,Cambodia,Khmer,T,88.6
112,Kiribati,Kiribati,T,98.9
113,Saint Kitts and Nevis,Creole English,F,100.0
114,South Korea,Korean,T,99.9
115,Kuwait,Arabic,T,78.1
116,Laos,Lao,T,67.2
117,Lebanon,Arabic,T,93.0
118,Liberia,Kpelle,F,19.5
119,Libyan Arab Jamahiriya,Arabic,T,96.0
120,Saint Lucia,Creole French,F,80.0
121,Liechtenstein,German,T,89.0
122,Sri Lanka,Singali,T,60.3
123,Lesotho,Sotho,T,85.0
124,Lithuania,Lithuanian,T,81.6
125,Luxembourg,Luxembourgish,T,64.4
126,Latvia,Latvian,T,55.1
127,Macao,Canton Chinese,F,85.6
128,Morocco,Arabic,T,65.0
129,Monaco,French,T,41.9
130,Moldova,Romanian,T,61.9
131,Madagascar,Malagasy,T,98.9
132,Maldives,Dhivehi,T,100.0
133,Mexico,Spanish,T,92.1
134,Marshall Islands,Marshallese,T,96.8
135,Macedonia,Macedonian,T,66.5
136,Mali,Bambara,F,31.8
137,Malta,Maltese,T,95.8
138,Myanmar,Burmese,T,69.0
139,Mongolia,Mongolian,T,78.8
140,Northern Mariana Islands,Philippene Languages,F,34.1
141,Mozambique,Makua,F,27.8
142,Mauritania,Hassaniya,F,81.7
143,Montserrat,English,T,0.0
144,Martinique,Creole French,F,96.6
145,Mauritius,Creole French,F,70.6
146,Malawi,Chichewa,T,58.3
147,Malaysia,Malay,T,58.4
148,Mayotte,Mahoré,F,41.9
149,Namibia,Ovambo,F,50.7
150,New Caledonia,Malenasian Languages,F,45.4
151,Niger,Hausa,F,53.1
152,Norfolk Island,English,T,0.0
153,Nigeria,Joruba,F,21.4
154,Nicaragua,Spanish,T,97.6
155,Niue,English,T,0.0
156,Niue,Niue,F,0.0
157,Netherlands,Dutch,T,95.6
158,Norway,Norwegian,T,96.6
159,Nepal,Nepali,T,50.4
160,Nauru,Nauru,T,57.5
161,New Zealand,English,T,87.0
162,Oman,Arabic,T,76.7
163,Pakistan,Punjabi,F,48.2
164,Panama,Spanish,T,76.8
165,Pitcairn,Pitcairnese,F,0.0
166,Peru,Spanish,T,79.8
167,Philippines,Pilipino,T,29.3
168,Palau,Palau,T,82.2
169,Papua New Guinea,Papuan Languages,F,78.1
170,Poland,Polish,T,97.6
171,Puerto Rico,Spanish,T,51.3
172,North Korea,Korean,T,99.9
173,Portugal,Portuguese,T,99.0
174,Paraguay,Spanish,T,55.1
175,Palestine,Arabic,F,95.9
176,French Polynesia,Tahitian,F,46.4
177,Qatar,Arabic,T,40.7
178,Réunion,Creole French,F,91.5
179,Romania,Romanian,T,90.7
180,Russian Federation,Russian,T,86.6
181,Rwanda,Rwanda,T,100.0
182,Saudi Arabia,Arabic,T,95.0
183,Sudan,Arabic,T,49.4
184,Senegal,Wolof,T,48.1
185,Singapore,Chinese,T,77.1
186,Saint Helena,English,T,0.0
187,Svalbard and Jan Mayen,Norwegian,T,0.0
188,Svalbard and Jan Mayen,Russian,F,0.0
189,Solomon Islands,Malenasian Languages,F,85.6
190,Sierra Leone,Mende,F,34.8
191,El Salvador,Spanish,T,100.0
192,San Marino,Italian,T,100.0
193,Somalia,Somali,T,98.3
194,Saint Pierre and Miquelon,French,T,0.0
195,Sao Tome and Principe,Crioulo,F,86.3
196,Suriname,Sranantonga,F,81.0
197,Slovakia,Slovak,T,85.6
198,Slovenia,Slovene,T,87.9
199,Sweden,Swedish,T,89.5
200,Swaziland,Swazi,T,89.9
201,Seychelles,Seselwa,F,91.3
202,Syria,Arabic,T,90.0
203,Turks and Caicos Islands,English,T,0.0
204,Chad,Sara,F,27.7
205,Togo,Ewe,T,23.2
206,Thailand,Thai,T,52.6
207,Tajikistan,Tadzhik,T,62.2
208,Tokelau,English,T,0.0
209,Tokelau,Tokelau,F,0.0
210,Turkmenistan,Turkmenian,T,76.7
211,East Timor,Portuguese,T,0.0
212,East Timor,Sunda,F,0.0
213,Tonga,Tongan,T,98.3
214,Trinidad and Tobago,English,F,93.5
215,Tunisia,Arabic,T,69.9
216,Turkey,Turkish,T,87.6
217,Tuvalu,Tuvalu,T,92.5
218,Taiwan,Min,F,66.7
219,Tanzania,Nyamwesi,F,21.1
220,Uganda,Ganda,F,18.1
221,Ukraine,Ukrainian,T,64.7
222,United States Minor Outlying Islands,English,T,0.0
223,Uruguay,Spanish,T,95.7
224,United States,English,T,86.2
225,Uzbekistan,Uzbek,T,72.6
226,Holy See (Vatican City State),Italian,T,0.0
227,Saint Vincent and the Grenadines,Creole English,F,99.1
228,Venezuela,Spanish,T,96.9
229,"Virgin Islands, British",English,T,0.0
230,"Virgin Islands, U.S.",English,T,81.7
231,Vietnam,Vietnamese,T,86.8
232,Vanuatu,Bislama,T,56.6
233,Wallis and Futuna,Futuna,F,0.0
234,Wallis and Futuna,Wallis,F,0.0
235,Samoa,Samoan-English,F,52.0
236,Yemen,Arabic,T,99.6
237,Yugoslavia,Serbo-Croatian,T,75.2
238,South Africa,Zulu,T,22.7
239,Zambia,Bemba,F,29.7
240,Zimbabwe,Shona,F,72.1

In [15]:
idiomas.to_sql('idiomas', conn, index=False, if_exists='replace')

In [16]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type="table"',conn)

       name
0   cliente
1  producto
2   compras
3   idiomas

In [53]:
# Relacionar a cada cliente con su idioma
query = '''
SELECT no_cliente, pais, Language

FROM cliente
LEFT JOIN idiomas
ON cliente.pais = idiomas.Name
WHERE Language IS null
'''

pd.read_sql(query, conn)

    no_cliente pais Language
0          363  USA     None
1          181  USA     None
2          131  USA     None
3          486  USA     None
4          187   UK     None
5          129  USA     None
6          124  USA     None
7          424  USA     None
8          112  USA     None
9          151  USA     None
10         324   UK     None
11         198  USA     None
12         447  USA     None
13         161  USA     None
14         320  USA     None
15         205  USA     None
16         379  USA     None
17         487  USA     None
18         219  USA     None
19         321  USA     None
20         347  USA     None
21         462  USA     None
22         175  USA     None
23         339  USA     None
24         489   UK     None
25         319  USA     None
26         455  USA     None
27         475  USA     None
28         495  USA     None
29         239  USA     None
30         173  USA     None
31         240   UK     None
32         328  USA     None
33         456  USA     None
34         450  USA     None
35         201   UK     None
36         362  USA     None
37         157  USA     None
38         204  USA     None
39         286  USA     None

In [54]:
# Observamos que hay clientes (de USA y UK) que no tienen idioma asociado. Comprobamos que se debe a que en la base de datos
# world, los nombres de estos países no coinciden

query= '''
SELECT * 
FROM idiomas
WHERE Name LIKE '%United%'
'''

pd.read_sql(query, conn)

                                   Name Language IsOfficial  Percentage
0                  United Arab Emirates   Arabic          T        42.0
1                        United Kingdom  English          T        97.3
2  United States Minor Outlying Islands  English          T         0.0
3                         United States  English          T        86.2

In [55]:
# Modifico la tabla idiomas
query = '''
SELECT  CASE WHEN Name="United States" THEN "USA"
             WHEN Name = "United Kingdom" THEN "UK"
             ELSE Name END AS Name,
        Language,
        IsOfficial,
        Percentage

FROM CountryLanguage
JOIN Country
ON CountryLanguage.CountryCode = Country.Code

WHERE Percentage = (SELECT MAX(Percentage) 
                        FROM CountryLanguage
                        WHERE Country.Code = CountryLanguage.CountryCode
                    )
'''

idiomas = pd.read_sql(query, db)
idiomas

             Name        Language IsOfficial  Percentage
0           Aruba      Papiamento          F        76.7
1     Afghanistan          Pashto          T        52.4
2          Angola       Ovimbundu          F        37.2
3        Anguilla         English          T         0.0
4         Albania       Albaniana          T        97.9
..            ...             ...        ...         ...
236         Yemen          Arabic          T        99.6
237    Yugoslavia  Serbo-Croatian          T        75.2
238  South Africa            Zulu          T        22.7
239        Zambia           Bemba          F        29.7
240      Zimbabwe           Shona          F        72.1

[241 rows x 4 columns]

In [56]:
idiomas.to_sql('idiomas', conn, index=False, if_exists='replace')

In [57]:
# Relacionar a cada cliente con su idioma
query = '''
SELECT no_cliente, pais, Language

FROM cliente
LEFT JOIN idiomas
ON cliente.pais = idiomas.Name
'''

idiomas_cliente = pd.read_sql(query, conn)

In [58]:
pd.set_option('display.max_rows',1000)
idiomas_cliente

    no_cliente         pais        Language
0          363          USA         English
1          128      Germany          German
2          181          USA         English
3          121       Norway       Norwegian
4          141        Spain         Spanish
5          145      Denmark          Danish
6          278        Italy         Italian
7          131          USA         English
8          385  Philippines        Pilipino
9          486          USA         English
10         187           UK         English
11         129          USA         English
12         144       Sweden         Swedish
13         124          USA         English
14         172       France          French
15         424          USA         English
16         381      Belgium           Dutch
17         148    Singapore         Chinese
18         216        Spain         Spanish
19         382      Austria          German
20         114    Australia         English
21         353       France          French
22         350       France          French
23         103       France          French
24         112          USA         English
25         458        Spain         Spanish
26         151          USA         English
27         324           UK         English
28         198          USA         English
29         447          USA         English
30         323  New Zealand         English
31         250       France          French
32         242       France          French
33         496  New Zealand         English
34         282    Australia         English
35         161          USA         English
36         334      Finland         Finnish
37         320          USA         English
38         205          USA         English
39         379          USA         English
40         276    Australia         English
41         487          USA         English
42         311      Finland         Finnish
43         333    Australia         English
44         219          USA         English
45         186      Finland         Finnish
46         473        Italy         Italian
47         321          USA         English
48         347          USA         English
49         227      Denmark          Danish
50         452      Austria          German
51         462          USA         English
52         448       Sweden         Swedish
53         233       Canada         English
54         175          USA         English
55         386        Italy         Italian
56         344        Spain         Spanish
57         171       France          French
58         167       Norway       Norwegian
59         339          USA         English
60         484        Spain         Spanish
61         489           UK         English
62         211    Hong Kong  Canton Chinese
63         259      Germany          German
64         471    Australia         English
65         146       France          French
66         319          USA         English
67         455          USA         English
68         475          USA         English
69         357  New Zealand         English
70         202       Canada         English
71         495          USA         English
72         177        Japan        Japanese
73         406       France          French
74         256       France          French
75         166    Singapore         Chinese
76         189      Ireland         English
77         314      Belgium           Dutch
78         239          USA         English
79         298  Switzerland          German
80         173          USA         English
81         240           UK         English
82         328          USA         English
83         412  New Zealand         English
84         260       Canada         English
85         209       France          French
86         456          USA         English
87         450          USA         English
88         201           UK         English
89         398        Japan        Japanese
90         362          USA         English
91         157          USA         English
92         119       France          French
93         204          USA         English
94         249        Italy         Italian
95         299       Norway       Norwegian
96         286          USA         English
97         415      Germany          German

In [59]:
idiomas_cliente.to_sql('idiomas_cliente',conn, index=False, if_exists='replace')

In [60]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type="table"',conn)

              name
0          cliente
1         producto
2          compras
3          idiomas
4  idiomas_cliente

 Puedes generar el diagrama de la base de datos en https://dbdiagram.io/d
 <img src="https://i.ibb.co/4PXndfB/Ejercicio2.png">

¿Cuál es el producto que aporta más beneficios?

In [61]:
query ='''
SELECT nombre_producto, SUM(cantidad_orden*(precio_cada-precio_compra)) AS Beneficio

FROM compras
JOIN producto
ON compras.codigo_producto = producto.codigo_producto

GROUP BY nombre_producto
ORDER BY Beneficio DESC
'''

pd.read_sql(query, conn)

                          nombre_producto  Beneficio
0             1992 Ferrari 360 Spider red  135996.78
1                1952 Alpine Renault 1300   95282.58
2                       2001 Ferrari Enzo   93349.65
3    2003 Harley-Davidson Eagle Drag Bike   81031.30
4                       1968 Ford Mustang   72579.26
..                                    ...        ...
104          1930 Buick Marquette Phaeton   12536.80
105      1936 Mercedes Benz 500k Roadster   11841.39
106                     1982 Ducati 996 R   11397.92
107                      Boeing X-32A JSF   11233.33
108           1939 Chevrolet Deluxe Coupe    6904.85

[109 rows x 2 columns]